*, *:before, *:after {
	@include box-sizing(border-box);
}

body {
	font-family: $proxima;
	color: $gray;
}

h4 {
	color: $blue;
}

a {
	text-decoration: none;
	color: $gray;
}

input {
	border: 1px solid $vlight-gray;
	width: 100%;
}

input[type='text'] {
	width: 100%;
	height: 45px;
	padding: 5px 5px 5px 15px;
	margin-bottom: 10px;
	font-size: 1rem;
	color: $gray;
	border: 1px solid $vlight-gray;
	&:focus {
		border: 1px solid white;
		outline: 1px solid $green;
	}
}

input[type="checkbox"] {
	float: left;
	display: block;
	width: 30px;
	margin: 0;
}

// to remove yellow background in autocompleted 

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.btn {
	display: inline;
	width: auto;
	padding: 7px 15px;
	margin-right: 10px;
	color: white;
	@include border-radius(20px);
	border: none;

	&:hover {
		cursor: pointer;
		@include transition(all, 0.3s);
	}
}

button::-moz-focus-inner {
  border: 0;
}

button:focus {outline:0 !important;}

.btn-yellow 			{ 
	background: $yellow;
	&:hover { 
		background: darken($yellow, 10%); 
	}
}

.btn-red 			{ 
	background: $red;
	&:hover { 
		background: darken($red, 10%); 
	}
}

.btn-blue 			{ 
	background: $blue;
	&:hover { 
		background: darken($blue, 10%); 
	}
}

.btn-green 			{ 
	background: $green;
	&:hover { 
		background: darken($green, 10%); 
	}
}

// Errors

#error_explanation {
	margin-bottom: 20px;

	h2 {
		font-size: 1.2rem;
		margin-bottom: 10px;
	}

	li {
		margin-bottom: 10px;
		color: $red;
	}
}