#container {
	@include container(60em);
	margin-top: 40px;
}

.post {
	@include pie-clearfix();
	padding: 15px;
	&:hover {
		@include transition(all 0.3s);
		background: $vlight-yellow;
	}
}

#trigger-add-post {
	&:hover {
		@include transition(all, 0.3s);
		color: $green;
		cursor: pointer;
	}
}

.upvotes {
	display: inline-block;
	float: left;
	width: 30px;
	height: 54px;
	padding: 5px;
	margin-right: 20px;
	background: $vvlight-gray;
	text-align: center;

	i.fa.fa-caret-up {

		color: $gray;
		font-size: 2rem;
		line-height: 10px;
		&:hover {
			color: $green;
		}
	}

	&:hover {
		cursor: pointer;
	}
}

.title-link {
	display: inline-block;
	font-size: 1.2rem;
	color: $blue;
	margin: 5px 0 7px 0;
	&:hover {
		color: darken($blue, 15%);
	}
}

body {
	position: relative;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255, 0.7);
}

.add-post {
	position: absolute;
	right: 0px;
	top: 70px;
	padding: 50px;
	border: 1px solid $vvlight-gray;
	background: white;

	h5 {
		color: $green;
		margin-bottom: 10px;
	}
	p {
		margin-bottom: 20px;
	}
	button { margin-top: 10px;}
}