%header
	.header-wrapper
		%section.logo
			.logo-circle
				%h4 K
			.logo-title
				%h5 Kids Hunt
			.logo-tagline
				%h6 The best kids internet, every day
		%section.menu
			%ul
				%li About
				%li 
					=link_to(posts_path) do 
						%i.fa.fa-plus
				%li 
					%i.fa.fa-user