%header
	.header-wrapper
		%section.logo
			.logo-circle
				%h4 K
			.logo-title
				%h5 Kids Hunt
			.logo-tagline
				%h6 The best kids internet, every day
		%section.menu
			%ul.menu-list
				/ %li
				/ 	%i.fa.fa-plus#new-post
				%li.menu-about
					=link_to 'About', '#'
				%li 
					%i.fa.fa-user